img {
  border: solid 2px black;
}
body {
  border: dotted 4px green;
}
blockquote {
    font-family: cursive;
    background: antiquewhite;
}

.hiddencursor {
  cursor: none;
}

#skittish:hover {
  margin-left: 60px
}

#sluggish:hover {
  margin-left: 1000px;
  transition: margin-left 10s;
}
